{% extends 'base-back.html.twig' %}

{% block title %}Modifier une Catégorie{% endblock %}

{% block body %}
    <main id="main" class="main">
        <div class="container mt-5">
            <h1 class="text-center mb-4 text-warning">Modifier une Catégorie</h1>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="mb-3">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.nom) }} <!-- Affichage des erreurs pour 'nom' -->
                </div>
            </div>

            <div class="mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.description) }} <!-- Affichage des erreurs pour 'description' -->
                </div>
            </div>

            <div class="mb-3">
                {{ form_label(form.logo) }}
                {% if categorie.getLogo() %}
                    <div class="mb-3">
                        <label>Logo actuel :</label>
                        <img src="{{ asset('uploads/logos/' ~ categorie.getLogo()) }}" alt="Logo actuel" width="100">
                    </div>
                {% else %}
                    <p>Aucun logo actuel.</p>
                {% endif %}
                {{ form_widget(form.logo, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.logo) }} <!-- Affichage des erreurs pour 'logo' -->
                </div>
            </div>

            <div class="mb-3">
                {{ form_label(form.nbrPartenaire) }}
                {{ form_widget(form.nbrPartenaire, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.nbrPartenaire) }} <!-- Affichage des erreurs pour 'nbrPartenaire' -->
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Mettre à jour</button>
            </div>

            {{ form_end(form) }}

            <div class="text-center mt-4">
                <a href="{{ path('category_list') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </main>
{% endblock %}
